main {
  margin-top: 270px;
  padding-bottom: 270px; }

.main .navbar__button {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #fc5657;
  color: #fff;
  font-size: 18px; }

p.main__title_text {
  font-size: 17px;
  line-height: 30px;
  color: #fff;
  padding-bottom: 50px;
  font-family: Open Sans Semibold; }

.main__applyblue {
  width: 400px;
  height: 266px;
  background-color: #183251;
  border-radius: 10px;
  position: relative;
  z-index: 1000; }

.main__applyred {
  width: 400px;
  height: 266px;
  background-color: #ff5f60;
  border-radius: 10px;
  position: absolute;
  z-index: 2000;
  margin-top: 10px; }
  .main__applyred h4 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: Poppins;
    font-weight: bold;
    padding-top: 55px;
    padding-bottom: 40px; }
  .main__applyred p {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: Poppins Regular;
    opacity: 0.5; }
  .main__applyred form {
    margin: 0 auto; }
    .main__applyred form .form__input {
      width: 240px;
      margin: 20px auto;
      display: block;
      position: relative; }
    .main__applyred form input {
      width: 240px;
      height: 45px;
      border-radius: 22px;
      background-color: #fff; }
    .main__applyred form .form__input:after {
      content: "";
      display: block;
      width: 60px;
      height: 45px;
      background-color: #1f3148;
      border-radius: 0 22px 22px 0;
      float: right;
      margin-top: -45px;
      margin-left: 200px;
      position: absolute; }
    .main__applyred form .form__input:after:hover {
      opacity: 0.5; }

.main__latest button,
.main__university button {
  width: 140px;
  height: 45px;
  border-radius: 22px; }

.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 170px; }
  .main__block_text {
    width: 570px;
    padding-top: 150px; }
    .main__block_text p {
      color: #222222;
      text-align: center;
      font-size: 18px;
      font-style: italic;
      line-height: 30px; }
    .main__block_text span {
      display: block;
      color: #fb8122;
      font-size: 16px;
      text-align: center;
      font-style: italic;
      line-height: 30px;
      font-family: 'Poppins Semibold'; }
  .main__block_pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    margin: 0 auto; }
  .main__block .pagination {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fb8122;
    opacity: 0.5;
    margin-top: 20px; }
  .main__block .pagination:not(:last-child) {
    margin-right: 10px; }
  .main__block .pagination:hover {
    opacity: 1; }

.main__middle_block {
  margin-top: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main__middle_item {
  text-align: center;
  padding: 20px 25px;
  font-size: 17px;
  line-height: 27px;
  color: #8c8c8c; }

.main__middle_item:nth-child(1) {
  margin-right: 40px; }

.main__middle_item:nth-child(3) {
  margin-left: 40px; }

.main__middle_circle:nth-child(1) {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #4bd2ff;
  -webkit-box-shadow: 0 0 50px #4bd2ff;
  box-shadow: 0 0 50px #4bd2ff; }

.main__middle_item:nth-child(2) .main__middle_circle {
  background-color: #694bff;
  -webkit-box-shadow: 0 0 50px #694bff;
  box-shadow: 0 0 50px #694bff; }

.main__middle_item:nth-child(3) .main__middle_circle {
  background-color: #ffb14b;
  -webkit-box-shadow: 0 0 50px #ffb14b;
  box-shadow: 0 0 50px #ffb14b; }

.main__middle_circle img {
  padding-top: 30px; }

.main__middle_item:nth-child(3) .main__middle_circle img {
  padding-top: 45px; }

@media (min-width: 300px) and (max-width: 767px) {
  main {
    margin-top: 200px;
    position: relative;
    z-index: 0; }
  .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 350px; }
    .main__block_text {
      width: 100%;
      padding-top: 50px; }
    .main__block .main__applyblue {
      width: 300px;
      height: 166px; }
    .main__block .main__applyred {
      width: 300px;
      height: 166px; }
    .main__block h4 {
      font-size: 20px;
      padding-top: 25px;
      padding-bottom: 5px; }
    .main__block p {
      font-size: 16px;
      padding-bottom: 10px; }
  .main__applyred_button > button.main__button {
    margin: 5px auto; }
  .main__middle_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main__middle_item:nth-child(1) {
    margin-right: 0px; } }

.main__middle_item:nth-child(3) {
  margin-left: 0px; }

.main__middle_item p {
  color: #000; }

@media (min-width: 768px) and (max-width: 1024px) {
  .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }
