* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

@media (max-width: 1199px) {
  .container {
    max-width: 960px; } }

@media (max-width: 991px) {
  .container {
    max-width: 700px; } }

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px; } }

@font-face {
  font-family: 'Raleway Medium';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Semibold';
  src: url("../fonts/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("vRaleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins Regular';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Poppins Semibold';
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: 'Open Sans Regular';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0; }

a {
  outline: none;
  text-decoration: none; }

button, input {
  border: none; }

h1 {
  font-size: 70px;
  line-height: 70px;
  color: #fff;
  font-family: Raleway bold;
  padding-bottom: 40px; }

h3 {
  font-size: 36px;
  font-family: Raleway Semibold; }

h4 {
  font-size: 25px;
  font-family: Raleway Semibold;
  padding-bottom: 30px;
  color: #333333; }

@media (min-width: 768px) and (max-width: 991px) {
  font-size: 60px; }

@media (min-width: 568px) and (max-width: 767px) {
  h1 {
    font-size: 40px; } }

@media (min-width: 300px) and (max-width: 567px) {
  h1 {
    font-size: 32px; }
  p {
    font-size: 17px;
    color: #fff;
    font-family: Open Sans Semibold; }
  main p {
    padding-bottom: 50px;
    width: 100%; } }

@media (min-width: 300px) and (max-width: 767px) {
  main p {
    font-size: 14px;
    text-align: center;
    width: 95%; } }

.navbar {
  padding-top: 50px; }
  .navbar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-item-align: end;
    align-self: flex-end;
    max-height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 25%; }
    .navbar__menu a {
      padding: 20px 25px;
      text-decoration: none;
      color: #fff;
      line-height: 65px; }
    .navbar__menu a:nth-child(1) {
      padding: 0px 40px; }
    .navbar__menu a:nth-child(2) {
      padding: 25px 25px 25px 0px; }
  .navbar__logo {
    display: block; }
    .navbar__logo img {
      max-width: 100%; }
  .navbar__button {
    display: block;
    width: 120px;
    height: 45px;
    border-radius: 22px;
    background-color: #fc5657;
    color: #fff;
    font-size: 18px; }

#housing {
  width: 5vw;
  height: 5vh;
  position: relative;
  overflow: visible;
  margin-top: 20px; }

.menu-wrap {
  display: none; }

@media (min-width: 768px) and (max-width: 991px) {
  .navbar__menu {
    margin-left: 5%; } }

@media (min-width: 300px) and (max-width: 767px) {
  .navbar__menu {
    display: none; }
  .menu__burger {
    display: none;
    width: 26px;
    height: 20px;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .menu__burger span {
    position: absolute;
    display: block;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px; }
  .menu__burger:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    width: 26px;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .menu__burger:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    width: 26px;
    height: 2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .menu__burger:before {
    top: 7px; }
  .menu__burger:after {
    top: -7px; }
  .menu-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    margin: 0 auto;
    top: -100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu-wrap a {
      margin-bottom: 10px;
      margin-top: 10px;
      color: #fff; }
    .menu-wrap a:nth-child(1) {
      margin-bottom: 10px;
      margin-top: 40px; }
  .menu-wrap.active {
    top: 70px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .menu__burger {
    display: block; }
  .menu__burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .menu__burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px; }
  .menu__burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0px; }
  .navbar__button {
    width: 80px;
    height: 35px;
    border-radius: 16px; }
  .navbar__logo img {
    width: 80px;
    height: auto; } }

.hero {
  background: url("../img/home-img.png") no-repeat;
  background-size: cover;
  height: 880px;
  background-position: top; }

@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    background-size: 250%; } }

@media (min-width: 568px) and (max-width: 767px) {
  .hero {
    background-size: 400%; } }

@media (min-width: 300px) and (max-width: 567px) {
  .hero {
    background-size: 550%; } }

main {
  margin-top: 270px;
  padding-bottom: 270px; }

.main .navbar__button {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #fc5657;
  color: #fff;
  font-size: 18px; }

p.main__title_text {
  font-size: 17px;
  line-height: 30px;
  color: #fff;
  padding-bottom: 50px;
  font-family: Open Sans Semibold; }

.main__applyblue {
  width: 400px;
  height: 266px;
  background-color: #183251;
  position: relative;
  z-index: 1000;
  border-radius: 10px; }

.main__applyred {
  width: 400px;
  height: 266px;
  background-color: #ff5f60;
  position: absolute;
  z-index: 2000;
  margin-top: 10px;
  border-radius: 10px; }
  .main__applyred h4 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: Poppins;
    font-weight: bold;
    padding-top: 55px;
    padding-bottom: 40px; }
  .main__applyred p {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: Poppins Regular;
    opacity: 0.5; }
  .main__applyred form {
    margin: 0 auto; }
    .main__applyred form .form__input {
      width: 240px;
      margin: 20px auto;
      display: block;
      position: relative; }
    .main__applyred form input {
      width: 240px;
      height: 45px;
      border-radius: 22px;
      background-color: #fff; }
    .main__applyred form .form__input:after {
      content: "";
      display: block;
      width: 60px;
      height: 45px;
      background-color: #1f3148;
      border-radius: 0 22px 22px 0;
      float: right;
      margin-top: -45px;
      margin-left: 200px;
      position: absolute; }
    .main__applyred form .form__input:after:hover {
      opacity: 0.5; }

.main__latest button,
.main__university button {
  width: 140px;
  height: 45px;
  border-radius: 22px; }

.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 170px; }
  .main__block_text {
    width: 570px;
    padding-top: 150px; }
    .main__block_text p {
      color: #222222;
      text-align: center;
      font-size: 18px;
      font-style: italic;
      line-height: 30px; }
    .main__block_text span {
      display: block;
      color: #fb8122;
      font-size: 16px;
      text-align: center;
      font-style: italic;
      line-height: 30px;
      font-family: 'Poppins Semibold'; }
  .main__block_pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90px;
    margin: 0 auto; }
  .main__block .pagination {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fb8122;
    opacity: 0.5;
    margin-top: 20px; }
  .main__block .pagination:not(:last-child) {
    margin-right: 10px; }
  .main__block .pagination:hover {
    opacity: 1; }

.main__middle_block {
  margin-top: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main__middle_item {
  text-align: center;
  padding: 20px 25px;
  font-size: 17px;
  line-height: 27px;
  color: #8c8c8c; }

.main__middle_item:nth-child(1) {
  margin-right: 40px; }

.main__middle_item:nth-child(3) {
  margin-left: 40px; }

.main__middle_circle:nth-child(1) {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #4bd2ff;
  -webkit-box-shadow: 0 0 50px #4bd2ff;
  box-shadow: 0 0 50px #4bd2ff; }

.main__middle_item:nth-child(2) .main__middle_circle {
  background-color: #694bff;
  -webkit-box-shadow: 0 0 50px #694bff;
  box-shadow: 0 0 50px #694bff; }

.main__middle_item:nth-child(3) .main__middle_circle {
  background-color: #ffb14b;
  -webkit-box-shadow: 0 0 50px #ffb14b;
  box-shadow: 0 0 50px #ffb14b; }

.main__middle_circle img {
  padding-top: 30px; }

.main__middle_item:nth-child(3) .main__middle_circle img {
  padding-top: 45px; }

@media (min-width: 300px) and (max-width: 767px) {
  main {
    margin-top: 200px;
    position: relative;
    z-index: 0; }
  .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 350px; }
    .main__block_text {
      width: 100%;
      padding-top: 50px; }
    .main__block .main__applyblue {
      width: 300px;
      height: 166px; }
    .main__block .main__applyred {
      width: 300px;
      height: 166px; }
    .main__block h4 {
      font-size: 20px;
      padding-top: 25px;
      padding-bottom: 5px; }
    .main__block p {
      font-size: 16px;
      padding-bottom: 10px; }
  .main__applyred_button > button.main__button {
    margin: 5px auto; }
  .main__middle_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main__middle_item:nth-child(1) {
    margin-right: 0px; } }

.main__middle_item:nth-child(3) {
  margin-left: 0px; }

.main__middle_item p {
  color: #000; }

@media (min-width: 768px) and (max-width: 1024px) {
  .main__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer div {
    margin-bottom: 50px; }
  .footer a {
    color: #c9c9c9;
    padding-right: 15px; }
  .footer__menu a {
    padding-right: 20px; }

a:last-child {
  padding-right: 0px; }

@media (min-width: 300px) and (max-width: 1025px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.main__latest_img {
  background: url("../img/welcome.jpg");
  background-repeat: no-repeat; }

.main__latest_zero {
  width: 50%;
  height: auto; }

.main__latest_block, .main__university_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.main__latest_text {
  padding-top: 300px;
  margin-left: 400px; }
  .main__latest_text p {
    font-size: 17px;
    line-height: 27px;
    color: #8c8c8c;
    margin-top: 40px; }

.main__university {
  margin-top: 50px; }
  .main__university_img {
    background: url("../img/latest.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    margin-top: 30px; }
  .main__university_text {
    padding-top: 150px;
    margin-right: 450px; }
    .main__university_text p {
      font-size: 17px;
      line-height: 27px;
      color: #8c8c8c;
      margin-top: 40px; }

.main__latest_text button.navbar__button {
  margin-top: 30px;
  margin-bottom: 50px; }

.main__university_text button.navbar__button {
  margin-top: 30px;
  margin-bottom: 50px; }

@media (min-width: 300px) and (max-width: 567px) {
  .main__latest_text, .main__university_text {
    padding-top: 350px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px; } }

@media (min-width: 568px) and (max-width: 768px) {
  .main__latest_text, .main__university_text {
    padding-top: 550px;
    margin-left: 50px;
    margin-right: 50px; } }

@media (min-width: 300px) and (max-width: 767px) {
  .main__latest_block, .main__university_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main__latest_img {
    background-size: 140%; }
  .main__university_img {
    background-size: 90%; }
  .main__latest_block h3, .main__university_block h3 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 40px; }
  .main__latest_block p, .main__university_block p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main__latest_text p, .main__university_text p {
    margin-top: 0px;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1025px) {
  .main__latest_block, .main__university_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main__latest_text, .main__university_text {
    padding-top: 1000px;
    margin-left: 50px;
    margin-right: 50px; }
  .main__latest_img {
    background-size: 140%;
    background-position: left; }
  .main__university_img {
    background-size: 90%;
    background-position: left; }
  .main__latest_block h3, .main__university_block h3 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 40px; }
  .main__latest_block p, .main__university_block p {
    font-size: 14px; }
  .main__latest_text p, .main__university_text p {
    margin-top: 0px; } }

@media (min-width: 1024px) and (max-width: 1500px) {
  .main__latest_img {
    background-size: 140%;
    margin-top: 0; }
  .main__university_img {
    background-size: 90%;
    margin-top: 0; }
  .main__latest_text, .main__university_text {
    padding-top: 900px;
    margin-left: 50px;
    margin-right: 50px; }
  .main__latest_block p, .main__university_block p {
    text-align: center; }
  .main__latest_text p, .main__university_text p {
    text-align: center; } }

@media (min-width: 568px) and (max-width: 1500px) {
  .main__latest_text button.navbar__button {
    display: block;
    margin: 30px auto; }
  .main__university_text button.navbar__button {
    display: block;
    margin: 30px auto; } }

@media (min-width: 300px) and (max-width: 567px) {
  .main__latest_text button.navbar__button {
    margin: 0px auto; }
  .main__university_text button.navbar__button {
    margin: 0px auto; } }
