main
	margin-top: 270px
	padding-bottom: 270px
	
	&__title

.main__applyblue
		width: 400px
		height: 266px
		background-color: #183251
		border-radius: 10px
		position: absolute
		z-index: 1000
		margin-top: 300px

@media (min-width: 300px) and (max-width: 767px)
	
	main
		margin-top: 200px
		position: relative
		z-index: 0