@import 'grid'

@import 'fonts'

@import 'interface'

@import 'navbar'

.hero
	background: url('../img/home-img.png') no-repeat
	background-size: cover

@media (min-width: 768px) and (max-width: 991px)
	.hero
		background-size: 250%
		background-position: top

@media (min-width: 567px) and (max-width: 767px)
	.hero
		background-size: 400%
		background-position: top	

@media (min-width: 300px) and (max-width: 568px)
	.hero
		background-size: 550%
		background-position: top	

@import 'main'
	